@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .jander-nery {
        border-right: 10px solid #f1e100;

        color: #6dd200;

        white-space: nowrap;

        overflow: hidden;

        width: 110ch;

        animation: mark .5s step-end infinite, write 5s infinite;



    }



    @keyframes mark {
        50% {
            border-right-color: transparent;
        }
    }

    @keyframes write {
        0% {
            width: 0;
        }

        20% {
            width: 110ch;
        }

        70% {
            width: 110ch;
        }

        85% {
            width: 0;
        }

        100% {
            width: 0;
        }
    }

}


.msg {
    border-right: 10px solid #f1e100;
    white-space: nowrap;
    width: 50ch;
    margin-right: 10px;

    overflow: hidden;

    animation: mark .5s step-end infinite,
        write 6s infinite;
}


@keyframes mark {
    50% {
        border-right-color: transparent;
    }
}

@keyframes write {
    0% {
        width: 0;
    }

    20% {
        width: 50ch;
    }

    70% {
        width: 50ch;
    }

    85% {
        width: 0;
    }

    100% {
        width: 0;
    }
}